@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

html {
    margin-top: 0 !important;
}

body    {
 
    font-family: roboto, sans-serif;
}

a {
  color: white;
}

a:link  {
  color: white;
}

a:visited {
  color: white;
}

div.entry-content ul >li a, div.entry-content a  {
     color: black;
}

.feature-img-size img {
 width: 100% !important;   
}

/*Blog front page styles */

#blog-container {
    
 position: relative;
    display: block;
    overflow: hidden;
}

#blog-feature-image img {
 width: 100% !important; 
    
}

#post-feature-image {
    
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    
}

.blog-front-styles  {
    
    background: rgba(17,17,17,0.35);
    padding: 80px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    
}

article.blog-front-view {
 
    padding: 0px !important;
    
}

#single-post-feature img    {
 width:100% !important;   
}

.no-side-bar-feature-img img    {
     width:100% !important; 
}

div.nav-next a, span.edit-link a, div.nav-previous a  {
    
 color: black;
    
}

div#post-feature-img-full img   {
    
 width: 100% !important;
    height: auto;
    
}

/* Blog front page styles end */

/* Customs - navigation - top bar section black background and logo */
.top-bar-section ul li {
  background: #F9F9FB;
}

.top-bar-section ul li > a {
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 12px 0 12px 0;
  padding-left: 0.9375rem;
  font-size: 0.8125rem;
  font-weight: normal;
  text-transform: none;
  color: black !important;
  background: #F9F9FB !important;
}

.top-bar-section ul li > a:hover  {
    background: #ccc !important;  
    color: black;
}

.top-bar-section ul li.current-menu-item > a {
    background: #ccc !important;  
    color: black;
}

.top-bar {
    background: none repeat scroll 0% 0% #F9F9FB;
    overflow: visible;
    height: 5rem;
    line-height: 3.5rem;
    padding-top: .8%;
    z-index: 10;
    color: black;
}

#nav-logo    {
  float: right;
  width: 370px;
  height: auto;
  margin: -18px 0 0 0;
}

/*Main image captions*/
.orbit-caption   {
    
  /*border-radius: 20px !important;*/
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: rgba(51, 51, 51, 0.6) !important;
  color: #FFFFFF !important;
  width: 100% !important;
  padding: 2rem !important;
  font-size: 3.5rem !important;
  text-align: center !important;
}

/*Main image captions end*/

/* background top bar background and log end */

/*Belluso Page Logo*/

img#belluso-logo-front-page     {
    
  position: absolute;
  top: 3%;
  left: 1.5%;
  width: 150px !important;
  height: 150px !important;
  z-index: 1;    
}

img#belluso-logo-page    {
    
  position: absolute;
  top: 8%;
  left: 1.5%;
  width: 150px !important;
  height: 150px !important;
  z-index: 1;    
}

img#belluso-logo-procentre  {
position: absolute;
  top: 2%;
  left: 1.5%;
  width: 150px !important;
  height: 150px !important;
  z-index: 1; 
}

.belluso-logo-page-side {
    margin: 0;
    padding: 0;
}

img#belluso-logo-page-side    {
    
  position: absolute;
  top: 2%;
  left: 1.5%;
  width: 150px !important;
  height: 150px !important;
  z-index: 1;    
}

img#belluso-logo-events, #belluso-logo-guest-page    {
    
  position: absolute;
  top: 4%;
  left: 1.5%;
  width: 150px !important;
  height: 150px !important;
  z-index: 1;    
}

#belluso-logo-about-page    {
    
  position: absolute;
  top: 2%;
  left: 1.5%;
  width: 150px !important;
  height: 150px !important;
  z-index: 1;    
}

#belluso-logo-community-page    {
   position: absolute;
  top: 5%;
  left: 1.5%;
  width: 150px !important;
  height: 150px !important;
  z-index: 1;  
}

#belluso-logo-test-page {
position: absolute;
  top: 3%;
  left: 1.5%;
  width: 150px !important;
  height: 150px !important;
  z-index: 1; 

}

/*End*/

/*Orbit Slider*/
.orbit-container img    {
    width: 100%;
    height: auto;
    z-index: -2;
}

.orbit-bullets {
  /*margin: 0 auto 30px auto;
  overflow: hidden;
  position: relative;
  top: 10px;
  float: none;
  text-align: center;*/
  display:none;
    
}

.orbit-container .orbit-slide-number span {
 /* font-weight: 700;
  padding: 0.3125rem;*/
    display: none;
}

.orbit-container .orbit-slide-number {
  /*position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #FFFFFF;
  background: transparent;
  z-index: 10;*/
    display: none;
}


/*Events Plugin styles*/
#tribe-events .tribe-events-content p {
  /* margin: 0 0 10px; */
  margin-top: -26px;
}

.tribe-events-promo {
 display: none;
}



/*Testominal Page*/

h2 {
  margin-top: 40px;
  font-weight: 200;
  color: #333;
}

.centered-text {
  text-align: center;
}

.quote {
  background: #ebf3f5;
  padding: 15px 20px 5px 15px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.quote:after {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px 18px 0 18px;
  border-color: #ebf3f5 transparent transparent transparent;
  position: relative;
  top: 37px;
  left: 20px;
}

.student {
  margin-left: 25px;
  margin-bottom: 80px;
}
.student .photo {
  background-color: #ccc;
  border-radius: 50%;
  width: 8rem;
    height: 8rem;
  float: left;
  margin-right: 10px;
}
.student p {
  position: relative;
  top: 5px;
  text-transform: uppercase;
}
.student p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
}
.student p:nth-child(3) {
  font-size: 14px;
  color: #777;
}

.profile-card-test img {
  width: 8rem !important;
  display: inline;
  /* margin: 2rem auto; */
  text-align: left;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #888888;
  float: left;
}

.testo-port-img img {
 
    width: 100% !important;
    height: auto;
    border-radius:0;
    box-shadow: none;
    
}

/*Testominal Page end*/

/*Private lesson page*/

#private-video-header {
  position: relative;
  top: 0;
  left: 0;
  margin-top: -7.6%;
  margin-bottom: -7.6%;
  z-index: -1;
}


#trainer-info {
  background-color:rgba(204, 204, 204, 0.33);
    padding: 40px 0;
    
}

#trainer-info .andrea {
   background-image: url(http://www.belluso.academy/wp-content/uploads/2015/06/andreabellusov1.png);
  background-size:250px 250px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: relative;
  margin-bottom: 0;
  z-index: 2;
}

/*Detailed cards*/
.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  display: block;
  margin-top: 100px; }

.box-icon {
  background-color:black;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -61px;
  font-size: 3rem; }
  .box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle; }

#main-button a.button {
    background-color:black;
    font-family: roboto, sans-serif;
}

.button.round {
  border-radius: 15px;
}

.button {
    background-color:black;
    font-family: roboto, sans-serif;
}

.button:link    {
     background-color:black;
    font-family: roboto, sans-serif;
}

.button:visited {
     background-color:black;
    font-family: roboto, sans-serif;
}

.button:hover {
    background-color:black;
    font-family: roboto, sans-serif;
}

.button:active  {
    background-color:black;
    font-family: roboto, sans-serif;
}
/*Private lesson page end*/

/*Seminar Events page */
.event {
  padding: 1rem 1rem 1rem 0;
  display: table; }

.event-date {
  width: 6rem;
  margin: 0 auto 1rem;
  display: table-cell;
  width: auto; }
  .event-date .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center; }
  .event-date .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem; }

.event-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top; }
  .event-desc .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0; }
  .event-desc .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0; }
  .event-desc .event-desc-time {
    font-weight: bold; }
  .event-desc .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0; }

/*Seminar Events Page End*/


/* Footer*/
.full-width {
  max-width: 1400px;
}
/*Footer*/
.footer {
  background-color: black;
  padding: 2rem 4rem;
  text-align: left;
  color: #fff;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .9em;
  color: #fff;
    background-color: black !important;
}

.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}

.top-bar.expanded .title-area   {
    background-color:black;
}


.text-centered  {
    text-align: center;
}

/*Footer Ends*/


/* Styles to change later*/
div.entry-meta  {
 display: none;
}

/*General Styles*/

.pad20pxtop    {
    
    padding-top: 20px;
}




// Small screens




@media only screen {
    
}
 /* Define mobile styles */

@media only screen and (max-width: 38em) {


    
    img#belluso-logo-front-page, img#belluso-logo-procentre     {
        display: none;
}
    
    h3.procentre-top  {
        margin-top: 5%;
    }
    

}@media only screen and (max-width: 40em) {

   
    
    
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { 

#private-video-header {
  margin-top: -9.5%;
 }

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {


} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {



} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {


    
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */